@model IEnumerable<Product>



@foreach (var item in Model)
{
    <li>
        <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id">
            <img width="50" height="50" src="~/assets/images/product/@item.MainImage" />
            @item.Name @String.Format("{0:0.00}", item.Price)
        </a>
    </li>
}

